apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
caCertPath: "/etc/kubernetes/pki/ca.crt"
discovery:
  bootstrapToken: 
{% if (kubernetes_tmp_network_model == "ipvs") or (kubernetes_tmp_network_model == "iptables" and groups["kubernetes_master"]|length + groups["kubernetes_master_control_plane"]|length == 1) %}
    apiServerEndpoint: apiserver.cluster.local:6443
{% elif kubernetes_tmp_network_model == "iptables" and groups["kubernetes_master"]|length + groups["kubernetes_master_control_plane"]|length == 3 %}
    apiServerEndpoint: apiserver.cluster.local:16443
{% endif %}
    token: {{ KUBERNETES_BOOTSTRAP_TOKEN }}
    caCertHashes:
    - sha256:{{ ca_hex_encoded_hash.stdout }}